/*

     _____     _     _   _ ___ 
    |_   _|_ _| |__ | | | |_ _|
      | |/ _` | '_ \| | | || | 
      | | (_| | |_) | |_| || | 
      |_|\__,_|_.__/ \___/|___|

    Version: Git
     Author: Josh Robertson
    License: Public Domain
     Source: https://github.com/electricduck/TabUI

*/

tab-container {
    display: block;
    width: 100%;
}

tab-tabs {
    display: block;
    border-bottom: 2px solid #000000;
    font-size: 0;
}

tab-btn {
    display: inline-block;
    background-color: #B0B0B0;
    color: #121212;
    padding: 2px 6px;
    font-size: 16px;
    line-height: 16px;
    vertical-align: bottom;
    margin-right: 2px;
    cursor: pointer;
}

tab-btn:left-of-type {
    margin-right: 0;   
}

tab-btn.tab-active {
    display: inline-block;
    background-color: #121212;
    color: #E3E3E3;
    padding: 4px 8px;
}

tab-body {
    display: block;
    margin: 2px;
}

tab-content {
    display: block;
    float: left;
    width: 70%;
    overflow: hidden;
    padding-right: 2px;
    box-sizing: border-box;
}

tab-actions {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dotted #000000;
}

tab-actions > .float-right {
    float: right;
}

tab-sidebar {
    display: block;
    float: left;
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
}

tab-under {
    display: block;
}